In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from pandas.plotting import parallel_coordinates

In [ ]:
data = pd.read_csv('glass.data')

In [ ]:
data.head()

In [22]:
data.columns = ['serial', 'RI','Na','Mg', 'Al', 'Si', 'K','Ca', 'Ba', 'Fe', 'Type']

In [ ]:
data.head()

In [ ]:
data.info()

In [28]:
data

     serial       RI     Na    Mg    Al     Si     K    Ca    Ba    Fe  Type
0         2  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.00     1
1         3  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.00     1
2         4  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.00     1
3         5  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.00     1
4         6  1.51596  12.79  3.61  1.62  72.97  0.64  8.07  0.00  0.26     1
..      ...      ...    ...   ...   ...    ...   ...   ...   ...   ...   ...
208     210  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.00     7
209     211  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.00     7
210     212  1.52065  14.36  0.00  2.02  73.42  0.00  8.44  1.64  0.00     7
211     213  1.51651  14.38  0.00  1.94  73.61  0.00  8.48  1.57  0.00     7
212     214  1.51711  14.23  0.00  2.08  73.36  0.00  8.62  1.67  0.00     7

[213 rows x 11 columns]

In [ ]:
sns.pairplot(data,hue='Type')